<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <httpErrors errorMode="Detailed" />
        <rewrite>
            <rules>
                <rule name="iis rewrite" stopProcessing="true">
                    <match url="^(.*)$" ignoreCase="false" />
                    <conditions logicalGrouping="MatchAll">
                        <add input="{R:1}" pattern="^(index\.php|robots\.txt|theme|uploads|favicon\.ico)" ignoreCase="false" negate="true" />
                    </conditions>
                    <action type="Rewrite" url="/index.php?/{R:1}" appendQueryString="false" />
                </rule>
                <rule name="x.jpg/b.php" stopProcessing="true">
                    <match url="\.(jpg|jepg|png|gif|ico|txt)+\/[^\.]+\.php" />
                    <action type="Redirect" url="/" />
                </rule>
            </rules>
        </rewrite>
    </system.webServer>
</configuration>