body{animation:clr 30s infinite;-webkit-animation:clr 30s infinite;font-family:"Microsoft YaHei"}
@keyframes clr{0%,100%{background-color:#3498db; }13%,87%{ background-color:#9b59b6; }25%,75%{ background-color:#1abc9c；}50%{ background-color:#2ecc71}}
@-webkit-keyframes clr{0%,100%{ background-color:#3498db; }13%,87%{ background-color:#9b59b6; }25%,75%{ background-color:#1abc9c；}50%{ background-color:#2ecc71}}
.es4-form{width:400px;height:320px;border:1px solid #aaa;background-color:#fff;
position:absolute;left:50%;top:50%;margin-left:-200px;margin-top:-200px;
box-shadow:1px 1px 5px rgba(0,0,0,.6)}
.es4-form form:before{content:"登录";display:block;font-size:24px;margin-bottom:15px;text-align:center;}
.es4-form form{padding:30px;font-size:18px;}
.es4-form .option{padding:10px 0;display:table;width:100%;}
.es4-form .option label{width:50px;}
.es4-form .option label,.es4-form .option input{display:table-cell;}
.es4-form input{border:1px solid #ccc;padding:7px;width:276px!important;font-size:16px;}
.es4-form button{margin-top:30px;width:100%;box-sizing:border-box;height:50px;font-size:16px;}

@media (max-width: 410px){ 
    .es4-form{width:300px;margin-left:-150px;height: 290px;}
    .es4-form input{width:190px!important;}
}
@media (max-width: 500px){ 
    .es4-form{ border:none;background-color:transparent;box-shadow:0 0 0; }
    .es4-form input{height:40px;}
    .es4-form form:before,.es4-form .option>label{color:#fff;}
}