.clr-yellow{color:yellow}
.clr-orange{color:orange}
.clr-green{color:green}

#es-content{position:relative;}
.es-loadding{width:200px;height:200px;position:absolute;left:50%;top:50%;margin-left:-100px;text-align:center;}
.es-loadding i.fa-circle-o-notch{color:#0a6fbc;}
.es-loadding i.fa-warning{color:#ff5a00;}
.es-loadding span{display:block;margin-top:5px;}

#eno-categories a{padding:10px 0;}
#eno-categories h3.control-sidebar-heading{margin:0;}
.form-group label small{color:#999;font-weight:500;margin-left:10px;}
.form-group select{width:auto;display:inline-block;margin-right:5px;;}
.t_right{text-align:right!important;}
a[data-href]{cursor:pointer;}
.segment i{margin-right:5px;}
#add-params .modal-dialog{margin:10% auto;}
#add-params .input-group{margin-bottom:10px;}
.form-group.params{padding:10px;background-color:#d8ebfb;}
.help-block img{display:block;height:50px;margin:10px 0;}
#refreshHome{background-color:green;color:#fff;font-size:14px;margin-left:5px;padding:3px 5px;border:none;}
#prev{margin-top:5px;}
#prev .fa{margin-right:3px;}
/* 分类列表  */
.aside-categories .border:not(:last-child){border-bottom:1px dashed #b0c5df;padding-bottom:15px!important;margin-bottom:15px;}
.aside-categories li{padding:5px;}
.aside-categories li small{color:#aaa;margin-left:10px;}
.aside-categories .fa{margin-left:5px;cursor:pointer;}
.aside-categories span{color:#00a65a;}
.aside-categories i{color:#02a2ed;}
.aside-categories em{color:#d5252d;}
.aside-categories button{background-color:#3c8dbc;border:none;color:#fff;font-size:12px;padding:1px 5px;margin-left:3px;}
.aside-categories input{background-color:transparent;border:none;border-bottom:1px solid #b0c5df;height:20px;}
.aside-categories button.cancel{background-color:#aaa;}
